<html>
<body>
<div class="container" style= "margin-left:5%; margin-right:5%;  border:2px solid black; width:80%">
<header>

<div class="container">

<img style="width:25%;" src="http://spice.cloubiot.com/app/img/Spice-logo.png"  alt="Spice Corner" />
</div>
</header>
<hr>

<div class="container" style="padding:10px;">
<b>Dear $firstName $lastName</b>
<p>You recently change your password for your Spice Corner Account.Click the below link to Login in your account</p>
<a href="https://spice.cloubiot.com/#/login" target="_blank">Spice Corner</a>
<p><b>If you did this,</b>you can safety disregard this email.<br>
<b>If you didn't do this,</b>please<a href=""> secure your account.</a><br>
 If you continue to face problems, write to us at<br>
<a href="https://mail.google.com/mail/u/0/?ui=2&view=btop&ver=177lztgng8ymz#to%253Dcare%2525401mg.com%2526cmid%253D2" target="_blank">spice@gmail.com</a>
</p>
<b>Regards,</b><br>
<b>Spice Corner Team</b>
</div>
<hr>
<footer style="padding:10px" align="center">&copy;2018 Spice Corner.</footer>
</div>
</body>
</html>