<html>
<body>
<div class="container" style= "margin-left:5%; margin-right:5%;  border:2px solid black; width:80%">
<header>

<div class="container">

<img style="width:25%;" src="http://spice.cloubiot.com/app/img/Spice-logo.png"  alt="Spice Corner" />
</div>
</header>
<hr>

<div class="container" style="padding:10px;">
<b>Dear $firstName $lastName</b>
<p style="line-height:2">Congratulations,<br>
Your account for Spice Corner has been updated.<br>
$content<br>
Click here to <a href="http://spice.cloubiot.com/#/login">login.</a>
</p>

<b>Regards,</b><br>
<b>Spice Corner Team</b>
</div>
<hr>
<footer style="padding:10px" align="center">&copy;2018 Spice Corner.</footer>
</div>
</body>
</html>